<h1>Listing bookmarks</h1>

<%= form_tag bookmarks_path, :method => :get do %>
  <p>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div id="facets">
  <h3>Timeline</h3>
  <ul>
    <% for row in @search.facet(:created_month).rows.reverse! %>
      <li>
        <% if params[:month].blank? %>
          <%= link_to row.value.strftime("%Y %B"), :month => row.value %> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= link_to "✖", :month => nil %>)
        <% end %>
      </li>
    <% end %>
  </ul>

  <% if @search.facet(:created_day) %>
  <hr>
  <ul>
    <% for row in @search.facet(:created_day).rows.reverse! %>
      <li>
        <% if params[:day].blank? %>
          <%= link_to row.value.strftime('%e %B'), :day => row.value %> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= link_to "✖", :day => nil %>)
        <% end %>
      </li>
    <% end %>
  </ul>

  <% end %>

</div>

<table>
  <tr>
    <th>Title</th>
    <th>Tags</th>
    <th>Created at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @search.results.each do |bookmark| %>
  <tr>
    <td><a href="<%= bookmark.uri %>"><%= truncate bookmark.title, :length => 70 %></a></td>
    <td><%= bookmark.tags.map(&:name).join(', ') %></td>
    <td><%= bookmark.created_at.strftime '%x' %></td>
    <td><%= link_to 'Show', bookmark %></td>
    <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
    <td><%= link_to 'Destroy', bookmark, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= paginate @search %>

<br />

<%= link_to 'New Bookmark', new_bookmark_path %>
