<%= form_tag bookmarks_path, :method => :get do %>
  <p>
    <%= search_field_tag :q, params[:q], :size => 120 %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div id="facets">
  <h3>Timeline</h3>
  <ul>
    <% for row in @search.facet(:created_month).rows.reverse! %>
      <li>
        <% if params[:month].blank? %>
          <%= link_to row.value.strftime("%Y %B"), :q => params[:q], :month => row.value %> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= link_to "✖", :month => nil %>)
        <% end %>
      </li>
    <% end %>
  </ul>

  <% if @search.facet(:created_day) %>
  <hr>
  <ul>
    <% for row in @search.facet(:created_day).rows.reverse! %>
      <li>
        <% if params[:day].blank? %>
          <%= link_to row.value.strftime('%e %B'), :day => row.value %> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= link_to "✖", :day => nil %>)
        <% end %>
      </li>
    <% end %>
  </ul>

  <% end %>

  <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <%= link_to tag.name, bookmarks_path(:q => tag.name), :class => css_class %>
  <% end %>
</div>

<% if params[:month] %>
  <h2><%= params[:month].to_date.strftime '%B %Y' %></h2>
<% end -%>

<% if params[:day] %>
  <h2><%= params[:day].to_date.strftime '%e %B %Y' %></h2>
<% end -%>

<table>
  <tr>
    <th width="90%"></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @search.results.each do |bookmark| %>
  <tr>
    <td>
      <% if bookmark.is_starred %>
        <span class="full-star">★</span>
      <% else %>
        <span class="empty-star">☆</span>
      <% end -%>

      <a href="<%= bookmark.uri %>"><%= truncate bookmark.title, :length => 70 %></a>
    </td>
    <td><%= link_to 'Show', bookmark %></td>
    <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
    <td><%= link_to 'Destroy', bookmark, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= paginate @search %>

<br />

<%= link_to 'New Bookmark', new_bookmark_path %>
