<%= form_tag bookmarks_path, :method => :get do %>
  <p>
    <%= search_field_tag :q, params[:q], :size => 120 %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div id="facets">
  <h3>Bookmarklets</h3>


  <h3>Timeline</h3>
  <ul>
    <% for row in @search.facet(:created_month).rows.reverse! %>
      <li>
        <% if params[:month].blank? %>
          <%= link_to row.value.strftime("%Y %B"), :q => params[:q], :month => row.value %> (<%= row.count %>)
        <% else %>
          <strong><%= row.value.strftime("%Y %B") %></strong> (<%= link_to "✖", :month => nil %>)
        <% end %>
      </li>
    <% end %>
  </ul>

  <% if @search.facet(:created_day) %>
  <hr>
  <ul>
    <% for row in @search.facet(:created_day).rows.reverse! %>
      <li>
        <% if params[:day].blank? %>
          <%= link_to row.value.strftime('%e %B'), :day => row.value %>
              (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= link_to "✖", :day => nil %>)
        <% end %>
      </li>
    <% end %>
  </ul>

  <% end %>

  <h3>Tags</h3>
  <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <%= link_to tag.name, bookmarks_path(:tags => [tag.name]), :class => css_class %>
    <% if params[:tags].present? %>
      <% if params[:tags].include? tag.name %>
        <%= link_to '−', bookmarks_path(:tags => params[:tags] - [tag.name]) %>
      <% else %>
        <%= link_to '⊕', bookmarks_path(:tags => params[:tags] + [tag.name]),
                    :class => 'plus' %>
      <% end -%>
    <% end -%>
    •
  <% end %>
</div>

<h2>
<% if params[:month].present? %>
  <%= params[:month].to_date.strftime '%B %Y' %>
<% elsif params[:day].present? %>
  <%= params[:day].to_date.strftime '%e %B %Y' %>
<% elsif params[:tags].present? %>
  <%- params[:tags].each do |tag| %>
    <%= link_to tag, bookmarks_path(:tags => [tag]) %>
    <%= link_to '[−]', bookmarks_path(:tags => params[:tags] - [tag]),
                       :class => 'minus' %>
  <% end -%>
<% elsif params[:q].present? %>
  “<%= params[:q] %>”
<% end -%>
</h2>

<table>
  <tr>
    <th width="90%"></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @search.results.each do |bookmark| %>
  <tr>
    <td>
      <% if bookmark.is_starred %>
        <span class="full-star">★</span>
      <% else %>
        <span class="empty-star">☆</span>
      <% end -%>

      <%= bookmark.status %>
      <a href="<%= bookmark.uri %>"><%= truncate bookmark.title, :length => 70 %></a>
    </td>
    <td><%= link_to 'Show', bookmark %></td>
    <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
    <td><%= link_to 'Destroy', bookmark, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= paginate @search %>

<br />

<%= link_to 'New Bookmark', new_bookmark_path %>
