<!DOCTYPE html>
<html>
<head>
  <title>Bookmarklove</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %>">
<div id="user_nav">
  <% if current_user %>
    <%= link_to "Import your bookmarks", new_import_path %>
    Logged in as <%= current_user.email %>.
    <%= link_to "Log out", logout_path %>
  <% else %>
    <%= link_to "Sign up", new_user_path %> or
    <%= link_to "log in", new_session_path %>
  <% end %>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

<%= javascript_include_tag "application" %>
</body>
</html>
